<!-- <p>dashboard works!</p> -->
<div class="dashboard-wrapper">
  <aside class="sidebar">
    <h3>Menu</h3>
    <ul>
      <li routerLink="/dashboard/dashboard">Dashboard</li>
      <li routerLink="/dashboard/home">Home</li>
      <li routerLink="/dashboard/contectus">Contact Us</li>
      <li routerLink="/login">log out</li>
    </ul>
    <p class="version">Version 1.0</p>
  </aside>

  <main class="main-content">
    <h2 class="text-center">Welcome {{ selectedUser[0].name }}</h2>
    <router-outlet></router-outlet>
  </main>
</div>
